@font-face {
    font-family: "Medieval Sharp";
    src: url("Fonts/MedievalSharp-Book.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.centered>div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
}

.items .arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 0px 20px;
    background-color: green;
}

.top{
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    background-color: gray;
}

.top .logo{
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    width: 60px;
    height: 60px;
    margin: 10px 30px;
}

.top h1{
    font-family: 'Medieval Sharp', sans-serif; /* Brush Script MT; Ink Free; Lucida Handwriting;  */
}

.top .buttons-container{
    margin-left: auto;
}

.top .buttons-container button{
    width: 100px;
    height: 60px;
    margin: 10px 20px 10px 10px;
    border-radius: 8px;
    font-family: "Medieval Sharp";
}

.top .drop-down-menu button{
    width: 100%;
    background-color: transparent;
}

.banner img{
    width: 100%;
    max-height: 50vh;
    object-fit: cover;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#events .event{
    max-width: 50%;
    background-color: blue;
}

#events img{
    height: 500px;
    max-width: 100%;
    object-fit: cover;
}

#beers>.items{
    gap: 20px;
}

#beers .item{
    min-width: 0;
    max-width: 80%;
    background-color: yellow;
}

#beers img{
    min-width: 0;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

#beer-dispensers .item{
    flex: 1 1 0;
    padding: 20px;
    min-width: 0;
    max-width: 80%;
    background-color: coral;
}

#beer-dispensers .item img{
    max-width: 100%;
    height: 500px;
    object-fit: cover;
}

#sell-points .carousel{
    display: flex;
}

.carousel .sell-point{
    padding: 20px;
    margin: 0px 20px;
    width: 20vw;
    height: 50vh;
    background-color: purple;
}

.interview{
    padding: 20px 0px;
    width: 20vw;
    margin: 0px 20px;
    background-color: orange;
}

.bottom {
    margin-top: 100px;
    width: 100%;
    height: auto;
    background-color: brown;
}

.bottom .items>div{
    margin: 20px 50px;
    background-color: white;
}

/* Computer */
@media (min-width: 769px){
    .top .drop-down-menu{
        display: none;
    }

    .items .arrow-mobile{
        display: none;
    }

    #beers .items{
        flex-wrap: nowrap;
    }
}

/* Mobile */
@media (max-width: 768px){
    .not-on-mobile{
        display: none;
    }

    .items .arrow{
        display: none;
    }

    .items .arrow-mobile{
        font-size: xx-large;
        margin: 20px 0px 20px 20px;
        padding: 0px 30px;
        background-color: burlywood;
    }

    #events .event{
        max-width: 80%;
        padding: 0px 10px 5px 10px;
    }

    #beers>.items{
        flex-direction: column;
        align-items: center;
    }

    #beers .item{
        width: 80%;
        padding: 0px 10px 5px 10px;
    }

    #beers>.items>div{
        width: 100%;
    }
}