@font-face {
    font-family: "Medieval Sharp";
    src: url("Fonts/MedievalSharp-Book.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html{
    scroll-behavior: smooth;
}

.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
}

.items .arrow{
    background-color: lightgray;
    border: 2px solid gray;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    margin: 25px 10px 15px 10px
}

.hide{
    display: none;
}

body{
    margin: 8px;
    background-color: lightyellow;
}

.top{
    width: 100%;
    height: auto;
    background-color: gray;
    border-radius: 15px;
}

.top .logo{
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    margin: 10px 30px;
}

h1{
    font-family: 'Medieval Sharp', sans-serif;
}

button{
    font-family: "Medieval Sharp";
}

.top .buttons-container{
    margin-left: auto;
}

.top .buttons-container button{
    background-color: lightgray;
    border: 2px solid black;
    width: 100px;
    height: 60px;
    margin: 10px 10px 0px 0px;
    border-radius: 15px;
}

.top .drop-down-menu button{
    background-color: rgb(170, 170, 170);
    height: 35px;
    width: 80%;
    margin: 5px;
    border-radius: 15px;
}

.top .drop-down-menu>button{
    background-color: transparent;
    height: 25px;
    width: calc(100% - 10px);
}

.banner{
    width: 90%;
    margin-top: 50px;
}

.banner img{
    width: 100%;
    max-height: 50vh;
    object-fit: cover;
    border-radius: 50px;
}

.section {
    background-color: white;
    border: 1px solid lightgray;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    margin-top: 50px;
}

.section h1{
    padding: 0px 10px;
    border-bottom: 2px solid black;
    border-radius: 10px;
}

:target{
    scroll-margin-top: 100px;
}

#events img{
    min-height: 200px;
    max-height: 300px;
    max-width: 80%;
    border: 2px solid black;
    border-radius: 10px;
    object-fit: cover;
}

#beers>.items{
    gap: 20px;
}

#beers .item{
    min-width: 0;
    max-width: 80%;
    background-color: yellow;
}

#beers img{
    min-width: 0;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

#beer-dispensers .item{
    flex: 1 1 0;
    padding: 20px;
    min-width: 0;
    max-width: 80%;
    background-color: coral;
}

#beer-dispensers .item img{
    max-width: 100%;
    height: 500px;
    object-fit: cover;
}

#sell-points .carousel{
    display: flex;
}

.carousel .sell-point{
    padding: 20px;
    margin: 0px 20px;
    width: 20vw;
    height: 50vh;
    background-color: purple;
}

.interview{
    padding: 20px 0px;
    width: 20vw;
    margin: 0px 20px;
    background-color: orange;
}

.bottom {
    margin-top: 100px;
    width: 100%;
    height: auto;
    background-color: brown;
}

.bottom .items>div{
    margin: 20px 50px;
    background-color: white;
}

/* Computer */
@media (min-width: 769px){
    .top .drop-down-menu{
        display: none;
    }

    #beers .items{
        flex-wrap: nowrap;
    }
}

/* Mobile */
@media (max-width: 768px){
    .not-on-mobile{
        display: none;
    }

    .banner{
        margin-top: 20px;
    }

    .banner img{
        border-radius: 20px;
    }

    #beers>.items{
        flex-direction: column;
        align-items: center;
    }

    #beers .item{
        width: 80%;
        padding: 0px 10px 5px 10px;
    }

    #beers>.items>div{
        width: 100%;
    }
}